.additional {
  &__main {
    display: flex;
    justify-content: space-between;
    gap: get-vw(70px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: get-vw(16px);
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &-list {
      display: flex;
      flex-direction: column;
      margin-left: get-vw(52px);
      gap: get-vw(24px);

      &-add {
        margin-left: get-vw(52px);
        border-radius: get-vw(10px);
        padding: get-vw(12px)  get-vw(28px);
        width: fit-content;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: get-vw(14px);
        line-height: normal;
        color: #fff;
        background: #1a2a5d;
        cursor: pointer;
      }
    }

    &-price {
      border: get-vw(1px)  solid #d8d8d8;
      border-radius: get-vw(8px);
      padding: get-vw(30px);
      width: 100%;
      max-width: 420px;
      box-shadow: get-vw(4px) get-vw(4px) get-vw(25px)  0 rgb(149 149 150 / 10%);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: get-vw(14px);
      line-height: normal;
      color: #000;
      background: #fff;
    }

    &-text {
      margin-right: get-vw(24px);
      border: get-vw(1px) solid #d8d8d8;
      border-radius: get-vw(16px);
      padding: get-vw(22px);
      width: 100%;
      height: get-vw(155px);
      max-width: get-vw(630px);
      box-shadow: get-vw(4px) get-vw(4px) get-vw(25px)  0 rgb(149 149 150 / 10%);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: get-vw(14px);
      line-height: normal;
      color: #000;
      background: #fff;
      resize: none;
    }
  }

  .checkbox__item {
    width: 100%;
    height: 100%;
  }

  .checkbox__text {
    display: flex;
    justify-content: center;
    padding: get-vw(14px) get-vw(24px);
    width: 100%;
    height: 100%;
    font-size: max(20px, get-vw(24px));
    gap: get-vw(10px);
  }

  &__input {
    margin-left: get-vw(53px);
    border: get-vw(1px) solid #d8d8d8;
    border-radius: get-vw(16px);
    padding: 2em 1.5em;
    box-shadow: get-vw(4px) get-vw(4px) get-vw(25px)  0 rgb(149 149 150 / 10%);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: max(12px, get-vw(14px));
    color: #000;
    background: #fff;
  }

  .checkbox__item--only-text {
    margin-bottom: get-vw(24px);
    margin-left: get-vw(52px);
    max-width: get-vw(450px);
  }

  &__text {
    margin-left: get-vw(52px);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .choices {
    margin-bottom: 0;
    margin-left: get-vw(44px);
    height: fit-content;
    max-width: 360px;

    &__inner {
      height: fit-content;
    }
  }

  .text {
    margin-left: get-vw(52px);
  }

  &--third {
    .additional__inner {
      height: 100%;

      &:first-child {
        flex-basis: 50%;

        .checkbox__text {
          padding: get-vw(24px);
        }
      }
    }

    .additional__main {
      gap: max(50px, get-vw(140px));
    }
  }

  &--fourth {
    .checkbox__item {
      max-width: get-vw(400px);
    }

    .checkbox__text {
      gap: get-vw(10px);
    }

    .additional__inner {
      height: 100%;
      max-width: get-vw(550px);
    }

    .additional__main {
      justify-content: flex-start;
      gap: 0;
    }
  }

  &--fifth {
    .checkbox__item {
      max-width: 32.55vw;
      cursor: default;
    }
  }
}

.add {
  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: get-vw(25px);
    margin-left: get-vw(20px);
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    pointer-events: all;
  }

  &__remove svg {
    width: get-vw(24px);
    height: get-vw(24px);
    pointer-events: none;
  }

  &__remove svg path {
    transition: all 0.3s;
  }

  &__remove:hover svg path {
    stroke: #2b53d4;
  }
}

.additional__item:first-child .add__remove {
  opacity: 0;
  pointer-events: none;
}
