<section class="additional content-section" data-type-block="Доп.опции">
  <div class="container">
    <div class="container__title">
      <button class="btn__back btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM2 7H1V9H2V7Z" fill="white"/>
        </svg>
      </button>
      <h2 class="container__title__text">
        6. Дополнительные опции
      </h2>
    </div>
    <div class="container__main additional__main">

      <div class="additional__inner">
        <div class="checkbox__item checkbox__item--only-text">
          <div class="checkbox__text">
            Возможность добавить от себя
            <div class="checkbox__text-small">Если вы хотите добавить что-то от себя и точно
              знаете цену за эту услугу, то опищите ниже</div>
          </div>
        </div>

        <div class="additional__item-list">
          <div class="additional__item">
            <textarea name="additional-item" class="additional__item-text" placeholder="Напишите, что вы хотите добавить"></textarea>
            <input type="number" name="additional-item-price" class="additional__item-price" placeholder="Напишите стоимость, того, что вы написали">
          </div>
        </div>

        <button class="additional__item-list-add btn btn-reset">Добавить +</button>
      </div>
    </div>
  </div>
</section>
