<section class="bottom">
  <div class="container container__bottom">
    <div class="cost__container">
      <div class="cost_text">
        Итого:
      </div>
      <div class="cost">
        3790000
      </div>
    </div>
    <div class="pagination__wrapper">
      <div class="pagination__item">
        <div class="pagination__text">
          Площадь
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item pagination__item--active">
        <div class="pagination__text">
          Планировка
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Наполнение
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Отделка
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Терраса
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Доп. опции
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Доп. опции
        </div>
        <div class="pagination__line">

        </div>
      </div>
      <div class="pagination__item">
        <div class="pagination__text">
          Итого
        </div>
        <div class="pagination__line">

        </div>
      </div>
    </div>
    <button class="btn btn__next">
      Далее
    </button>
  </div>
</section>
