<section class="floor content-section" data-type-block="Полы">
  <div class="container">
    <div class="container__title">
      <button class="btn__back btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM2 7H1V9H2V7Z" fill="white"/>
        </svg>
      </button>
      <h2 class="container__title__text">
        4. Выберите отделку полов
      </h2>
    </div>
    <div class="container__main floor__main">
      <div class="floor__inner">
        <div class="text">
          В жилом помещении
        </div>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Ламинат" value="2400" class="floor__metr" data-name="Ламинат 33 класс">
          <div class="square__number">
            Ламинат 33 класс
            <span>+ 2400 руб./м2</span>
          </div>
        </label>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Ламинат" value="1800" class="floor__metr" data-name="Шпунтовая доска">
          <div class="square__number">
            Шпунтовая доска
            <span>от 1800₽ / м² руб.</span>
          </div>
        </label>
      </div>
      <div class="floor__inner">
        <div class="text">
          В санузле
        </div>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Керамогранит" value="5000" class="floor__metr" data-name="Керамогранит">
          <div class="square__number">
            Керамогранит
            <span>+ 5 000 руб.</span>
          </div>
        </label>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Керамогранит" value="600" class="floor__metr" data-name="Керамическая плитка">
          <div class="square__number">
            Керамическая плитка
            <span>+ 600₽ / м²</span>
          </div>
        </label>
      </div>
      <div class="floor__inner">
        <div class="text">
          Введите площадь санузла
        </div>
        <input class="floor__input input-reset" type="number" placeholder="10 М2">
      </div>
    </div>
  </div>
</section>
