<section class="model" data-type-block="model">
  <div class="container">
    <div class="container__main model__main">
      <button class="main__item">
        <div class="main__item__name">
          Кантри-куб
        </div>
        <img src="/img/cube.jpg" alt="" class="main__item_img">
        <div class="main__item_text-block">

          <div class="text">
            <span>
              Общая площадь
            </span>
            от 90М2 до 144М2
          </div>


          <div class="text">
            <span>
              Цена
            </span>
            от 3 790 000<br>
            до 5 290 000
          </div>
        </div>
      </button>
      <button class="main__item">
        <div class="main__item__name">
          Кантри-куб
        </div>
        <img src="/img/cube.jpg" alt="" class="main__item_img">
        <div class="main__item_text-block">

          <div class="text">
            <span>
              Общая площадь
            </span>
            от 90М2 до 144М2
          </div>


          <div class="text">
            <span>
              Цена
            </span>
            от 3 790 000<br>
            до 5 290 000
          </div>
        </div>
      </button>
      <button class="main__item">
        <div class="main__item__name">
          Кантри-куб
        </div>
        <img src="/img/cube.jpg" alt="" class="main__item_img">
        <div class="main__item_text-block">

          <div class="text">
            <span>
              Общая площадь
            </span>
            от 90М2 до 144М2
          </div>


          <div class="text">
            <span>
              Цена
            </span>
            от 3 790 000<br>
            до 5 290 000
          </div>
        </div>
      </button>
      <button class="main__item">
        <div class="main__item__name">
          Кантри-куб
        </div>
        <img src="/img/cube.jpg" alt="" class="main__item_img">
        <div class="main__item_text-block">

          <div class="text">
            <span>
              Общая площадь
            </span>
            от 90М2 до 144М2
          </div>


          <div class="text">
            <span>
              Цена
            </span>
            от 3 790 000<br>
            до 5 290 000
          </div>
        </div>
      </button>
      <button class="main__item">
        <div class="main__item__name">
          Кантри-куб
        </div>
        <img src="/img/cube.jpg" alt="" class="main__item_img">
        <div class="main__item_text-block">

          <div class="text">
            <span>
              Общая площадь
            </span>
            от 90М2 до 144М2
          </div>


          <div class="text">
            <span>
              Цена
            </span>
            от 3 790 000<br>
            до 5 290 000
          </div>
        </div>
      </button>
    </div>
  </div>
</section>


