<section class="model" data-type-block="Модель">
  <div class="container">
    <div class="container__title">
      <button class="btn__back btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM2 7H1V9H2V7Z" fill="white"/>
        </svg>
      </button>
      <h1 class="container__title__text">
        1. Выберите модель дома
      </h1>
    </div>
    <div class="container__main model__main">
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Кантри-куб
          </div>
          <div class="main__item__img-con">
            <img src="/img/cube.png" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Кантри-барн
          </div>
          <div class="main__item__img-con">
            <img src="\img\barn.png" alt="" class="main__item_img">
          </div>

          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Гоголь-барн
          </div>
          <div class="main__item__img-con">
            <img src="/img/gogul.jpg" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Гоголь-барн
          </div>
          <div class="main__item__img-con">
            <img src="/img/gogul.jpg" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Шифт
          </div>
          <div class="main__item__img-con">
            <img src="/img/shift.png" alt="" class="main__item_img">
                  </div>

          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</section>


