<section class="model content-section content-section--active" data-type-block="Модель">
  <div class="container">
    <div class="container__title">
      <h1 class="container__title__text">
        1. Выберите модель дома
      </h1>
    </div>
    <div class="container__main model__main">
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Кантри-куб
          </div>
          <div class="main__item__img-con">
            <img src="./img/cube.png" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Кантри-барн
          </div>
          <div class="main__item__img-con">
            <img src="./img/barn.png" alt="" class="main__item_img">
          </div>

          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Гоголь-барн
          </div>
          <div class="main__item__img-con">
            <img src="./img/gogul.jpg" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Гоголь-барн
          </div>
          <div class="main__item__img-con">
            <img src="./img/gogul.jpg" alt="" class="main__item_img">
          </div>
          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
      <label class="main__item-wrapper">
        <input type="radio" name="model" value="Кантри-куб" class="visually-hidden main__item-radio">
        <div class="main__item">
          <div class="main__item__name">
            Шифт
          </div>
          <div class="main__item__img-con">
            <img src="./img/shift.png" alt="" class="main__item_img">
                  </div>

          <div class="main__item_text-block">

            <div class="text">
              <span>
                Общая площадь
              </span>
              от 90М2 до 144М2
            </div>


            <div class="text">
              <span>
                Цена
              </span>
              от 3 790 000<br>
              до 5 290 000
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</section>


