<section class="plan content-section" data-type-block="Планировка">
  <div class="container">
    <div class="container__title">
      <button class="btn__back btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM2 7H1V9H2V7Z" fill="white"/>
        </svg>
      </button>
      <h1 class="container__title__text">
        2. Выберите планировку
      </h1>
    </div>
    <div class="container__main plan__main">
      <label class="plan__item">
        <img src="./img/plan1.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
      <label class="plan__item">
        <img src="./img/plan2.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
      <label class="plan__item">
        <img src="./img/plan3.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
      <label class="plan__item">
        <img src="./img/plan4.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
      <label class="plan__item">
        <img src="./img/plan5.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
      <label class="plan__item">
        <img src="./img/plan6.png" alt="планировка">
        <input type="radio" name="plan">
      </label>
    </div>
    <label class="checkbox__item">
      <input type="checkbox" value="50000" data-name="Изменение планировки">
      <svg class="checkbox__mark" xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
        <rect x="0.5" y="1" width="27" height="27" rx="3.5" stroke="#D8D8D8"/>
        <path d="M5 14.5769L9.57895 21.5L23 6.5" stroke="#1A2A5D" stroke-width="2.46154" stroke-linecap="round"/>
      </svg>
      <div class="checkbox__text">
        Изменение планировки
        <span>+ от 50 000 руб.</span>
      </div>
    </label>

  </div>
</section>
