<section class="walls" data-type-block="Стены">
  <div class="container">
    <div class="container__title">
      <button class="btn__back btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM2 7H1V9H2V7Z" fill="white"/>
        </svg>
      </button>
      <h1 class="container__title__text">
        4. Выберите наполнение
      </h1>
    </div>
    <div class="container__main filling__main">
      <div class="filling__inner">
        <div class="text">
          В жилом помещении
        </div>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Жилое" value="3500">
          <div class="square__number">
            Имитация бруса
            <span>570₽/м2</span>
          </div>
        </label>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Жилое" value="7000">
          <div class="square__number">
            ГКЛ
            <span>+ 180 000 руб.</span>
          </div>
        </label>
      </div>
      <div class="filling__inner">
        <div class="text">
          В санузле
        </div>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Кровля" value="2400">
          <div class="square__number">
            Керамическая настенная плитка
            <span>+ 5 000 руб.</span>
          </div>
        </label>
        <label class="square__input">
          <div class="square__input__indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
              <rect x="0.5" y="1" width="27" height="27" rx="13.5" fill="white" stroke="#D8D8D8"/>
              <circle cx="14" cy="14.5" r="8" fill="#1A2A5D"/>
            </svg>
          </div>
          <input type="radio" name="Кровля" value="1800">
          <div class="square__number">
            ПВХ панель
            <span>1 600 руб./м2</span>
          </div>
        </label>
      </div>
      <div class="filling__inner">
        <div class="text">
          Увеличение высоты потолков
          <span>
            Увеличить на 10 см = ? руб
          </span>
        </div>
        <select class="choices"></select>
      </div>
    </div>
  </div>
</section>



