// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --container-offset: 15px;
  --container-width: calc(get-vw(1410px) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
